$bg: #fafafa;
$links: #f03a47;
$grey1: #d7d7d7;


// old
$teal: #43c6ac;
$darkblue: #191654;
$grey: #c4cdd5;
$lightgrey: #ededed;
$textgrey: #919eab;
$arrowgrey: #dbdbe0;

$orange: #ffc770;
$green: #43c6ac;
$red: #f03a47;





// bingo
$primary: #eff2f5;
$accent: #dde2e7;
$strong: #0065b1;
$text: #6a7e8a;
$num-text: #93a0a2;
$border: #dfe3e4;
